.aboutMe {
  height: 100vh;
  display: flex;
  align-items: center;
}

.aboutMe__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
  position: relative;
  align-items: center;
  border-radius: 6px;
}

.aboutMe__container img {
  width: 33%;
  height: 60%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  right: -2.5%;
  transform: translateY(-50%);
  /* display: block; */
}

.aboutMe__content {
  border-radius: 7px;
  width: 75%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-right: auto;
}

.aboutMe__content-wrapper {
  background-color: #f0f0f0;
  width: 100%;
  padding: 30px;
  margin: 20px;
  border-radius: 6px;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.16);
  padding-right: 60px;
}

.aboutMe__content p {
  max-width: 100%;
  line-height: 40px;
  font-size: 1em;
}
.aboutMe__content-heading {
  margin-bottom: 15px;
  position: relative;
  width: fit-content;
  z-index: 1;
}
.aboutMe__content-heading h1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #a9dbff;
  border-radius: 5px;
}

.aboutMe__qna-ul {
  list-style: none;
  color: #11354c;
  font-size: 1em;
  margin-right: 2em;
}

.aboutMe__qna-li {
  margin-bottom: 5px;
}

.aboutMe__qna-uls {
  display: flex;
  justify-content: 'flex-start';
}

p.aboutMe__q {
  margin-bottom: 7px;
  font-size: 1.4em;
}

@media screen and (max-width: 1024px) {
  .aboutMe {
    height: auto;
  }
  .aboutMe__container {
    height: auto;
  }
  .aboutMe__content {
    height: 50%;
    margin-right: 0;
    width: 65%;
    margin: 30px;
  }

  .aboutMe__content-wrapper {
    padding: 30px;
    margin: 20px;
    margin-right: 0;
  }
  .aboutMe__container img {
    right: 3%;
  }
  p.aboutMe__q {
    margin-bottom: 7px;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 768px) {
  .aboutMe__content p {
    max-width: 100%;
    line-height: 40px;
    font-size: 1.1em;
  }

  .aboutMe__content-wrapper {
    margin-right: 0;
  }

  .aboutMe__content {
    width: 100%;
    margin: 0 20px;
    padding: 0 30px;
  }

  .aboutMe__container img {
    display: none;
  }

  .aboutMe__container {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .aboutMe__content p {
    font-size: 1em;
    line-height: 30px;
  }

  .aboutMe__content-wrapper {
    padding: 20px;
    width: 100%;
    height: 100vh !important;
  }

  .aboutMe__content {
    padding: 20px;
    margin: 0;
  }

  .aboutMe__qna-ul {
    margin-right: 20px;
  }

  .aboutMe__qna-li {
    font-size: 0.9em;
  }

  .aboutMe__content-wrapper {
    margin-right: 0;
  }

  .aboutMe__qna-uls {
    justify-content: 'space-between' !important;
  }
  .aboutMe__container {
    display: relative;
  }
  .aboutMe__container img {
    display: none;
  }
  p.aboutMe__q {
    margin-bottom: 7px;
    font-size: 1.2em;
  }
}
