.exp {
  height: 100vh;
  display: flex;
  align-items: center;
}

.exp__container {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
  position: relative;
  align-items: center;
  border-radius: 6px;
}

.exp__img {
  width: 30%;
  height: 60%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: -4%;
  transform: translateY(-50%);
  /* display: block; */
}

.exp__content {
  border-radius: 7px;
  width: 75%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-left: auto;
}

.exp__heading {
  margin-bottom: 20px;
  position: relative;
  width: fit-content;
  z-index: 1;
}
.exp__heading h1 {
  margin-bottom: 15px;
}
.exp__heading h1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #a9dbff;
  border-radius: 5px;
}

.exp__content-wrapper {
  background-color: #f0f0f0;
  width: 100%;
  padding: 30px;
  margin: 20px;
  border-radius: 6px;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.16);
  padding-left: 60px;
}
.exp__qna {
  padding-bottom: 20px;
}

.exp__content p {
  max-width: 100%;
  line-height: 40px;
  font-size: 1em;
}

.exp__icon {
  font-size: 3em;
  margin-right: 15px;
}
.exp__q p {
  font-size: 1.4em;
}

.exp__a {
  margin-top: 10px;
}
.exp__a a {
  padding: 0;
  color: black;
}
.exp__a a:hover {
  text-decoration: underline;
}
.exp__icon {
  width: 70px;
}
.exp__q-heading {
  font-size: 1.2em;
}

@media screen and (max-width: 1024px) {
  .exp {
    height: auto;
  }
  .exp__content {
    margin-right: 30px;
    width: 65%;
  }
  .exp__container {
    height: auto;
  }
  .exp__img {
    left: 3%;
  }
  .exp__content-wrapper {
    padding-left: 50px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .exp__content p {
    max-width: 100%;
    line-height: 40px;
    font-size: 1.1em;
  }

  .exp__content-wrapper {
    margin-right: 0;
    padding-top: 100px;
  }

  .exp__content {
    width: 100%;
    margin: 0 20px;
    padding: 0 30px;
  }

  .exp__img {
    display: none;
  }

  .exp__container {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .exp__content p {
    font-size: 1em;
    line-height: 30px;
  }

  .exp__content-wrapper {
    padding: 20px;
    width: 100%;
    height: 100vh !important;
  }

  .exp__content {
    padding: 20px;
    margin: 0;
  }
  .exp__content-wrapper {
    margin-right: 0;
    height: auto;
  }
  .exp__container {
    display: relative;
  }
  .exp__img {
    display: none;
  }
  .exp__a-icons {
    text-align: center;
  }
}
