.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero__triangles {
  position: absolute;
  top: -70px;
  left: 150px;
  z-index: -1;
}

.hero__main {
  display: flex;
  max-width: 1400px;
  height: 80vh;
  margin: 0 auto;
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  margin-left: 40px;
  width: 66%;
  padding: 20px;
  flex: 1;
}

.hero__content .hero__contentIntro {
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 7px;
}

.hero__content .hero__contentIntro > span {
  color: #ff8b00;
}

.hero__content > h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero__content .hero__contentSubtitle > p {
  font-size: 20px;
}

.hero__content .hero__contentSubtitle {
  margin-bottom: 30px;
}

.hero__content .hero__contentBtn {
  display: block;
  width: 190px;
  text-align: center;
  background-color: #ffdb94;
  border-radius: 50px;
  padding: 15px 25px;
  color: black;
  font-weight: bold;
}

.hero__img {
  margin-right: 50px;
  object-fit: contain;
}

.hero__end {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.hero__contentPlayContainer {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 121, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 20px;
}

.hero__contentPlayBtn {
  color: white;
  font-size: 1.3em;
  margin-left: 5px;
}

.hero__contentPlayBtn-pause {
  color: white;
  font-size: 1.3em;
}
.hero__scroll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #11354c;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}
@media (min-width: 575.98px) and (max-width: 768px) {
  .hero__main {
    flex-direction: column;
    text-align: center;
    height: 90vh;
    padding-top: 70px;
  }

  .hero__img {
    order: -1;
    margin-right: 0;
  }

  .hero__img img {
    width: 300px;
    object-fit: contain;
  }

  .hero__content {
    margin-top: 30px;
    margin-left: 0;
    padding-top: 50px;
    width: 80%;
  }

  .hero__content > h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .hero__contentBtn {
    width: 50% !important;
    margin: 0;
    padding: 15px 10px !important;
    font-size: 25px;
    margin-top: 10px;
    font-weight: normal;
  }

  .hero__contentIntro {
    margin-bottom: 30px !important;
  }

  .hero__content > h1 {
    margin-bottom: 30px !important;
  }

  .hero__content .hero__contentSubtitle > p {
    font-size: 17px;
  }

  .hero__end {
    justify-content: center;
  }
}

@media (max-width: 575.98px) {
  .hero__main {
    flex-direction: column;
    text-align: center;
    height: 90vh;
  }

  img.hero__img {
    margin: 0;
    width: 95vw;
  }

  .hero__img {
    width: 300px;
    object-fit: contain;
  }

  .hero__content {
    margin: 0;
  }

  .hero__content > h1 {
    font-size: 28px;
  }

  .hero__content .hero__contentSubtitle > p {
    display: none;
  }

  .hero__contentIntro {
    font-size: 14px !important;
    letter-spacing: 1px !important;
  }

  .hero__contentBtn {
    margin: 0 auto;
  }

  .hero__content {
    width: 100%;
  }

  .hero__contentPlayContainer {
    display: none;
  }

  .hero__end {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
  }
}
